@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.woff");
}
$a : "Arial";

@font-face {
  font-family: "Merriweather-Bold";
  src: url("../fonts/Merriweather-Bold.woff");
}

$mwb : "Merriweather-Bold";

@font-face {
  font-family: "Merriweather-Regular";
  src: url("../fonts/Merriweather-Regular.woff");
}

$mwr : "Merriweather-Regular";

@font-face {
  font-family: "Myfrida";
  src: url("../fonts/Myfrida.woff");
}

$mf : "Myfrida";

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff");
}

$rcb : "RobotoCondensed-Bold";

@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url("../fonts/RobotoCondensed-Italic.woff");
}

$rci : "RobotoCondensed-Italic";

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff");
}

$rcl : "RobotoCondensed-Light";

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff");
}

$rcr : "RobotoCondensed-Regular";